@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-diagonal-lines {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 0,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px,
    transparent 17px
  );
  background-size: 40px 40px;
  animation: diagonal-pan 2s linear infinite;

}

@keyframes diagonal-pan {
  from { background-position: 0 0; }
  to   { background-position: 40px 40px; } /* same as background-size */
}

:root {
  --glass-opacity: 0.2; /* Adjust to make the glass effect more transparent */
  --glass-blur: 10px;
  --glass-border-opacity: 0.3;
}
