@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Limelight", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
.heading-font {
  font-family: "Poppins", sans-serif;
}

.bg-diagonal-lines {
  background-image: repeating-linear-gradient(
    85deg,
    rgba(0, 0, 0, 0.1) 0,
    rgba(0, 0, 0, 0.1) 1px,
    transparent 1px,
    transparent 20px
  );
  background-size: 15px 20px;
  animation: diagonal-pan 2s linear infinite;
}

@keyframes diagonal-pan {
  from {
    background-position: 0px 40px;
  }
  to {
    background-position: 0px 0px;
  }
}

@keyframes slow-pan-up {
  from {
    background-position: 50% 50%;
  }
  to {
    background-position: 50% 0%;
  }
}

.hero-text-mask-rotate {
  animation: slow-pan-up 30s linear infinite alternate;
  will-change: background-position;
}

.hero-text-svg {
  display: block;
  height: 1em;
  width: 100%;
}

:root {
  --glass-opacity: 0.2; /* Adjust to make the glass effect more transparent */
  --glass-blur: 10px;
  --glass-border-opacity: 0.3;
}

@media screen and (min-width: 1200px) {
  h1.hero-title {
    font-size: 12rem !important;
  }
}
